<div class="landing-page">

  <header>
    <h2>Hast Du Bock, Deine lokalen Läden zu unterstützen?</h2>
  </header>

  <form>
    <mat-form-field class="form-item">
      <mat-label>Deine Postleitzahl</mat-label>
      <input matInput placeholder="PLZ" [(ngModel)]="location" name="location" required maxlength="5" minlength="5">
    </mat-form-field>

    <button class="form-item"
            [routerLink]="['/shops']"
            [queryParams]="{ location: this.location}"
            mat-raised-button
            color="primary">Los geht's!
    </button>
  </form>

</div>
