.landing-page {
  width: 720px;
}

.form-section {
  max-width: 500px;
  margin: auto;
}

.zip-code-input {
  text-align: center;
}

@media screen and (max-width: 719px) {
  .landing-page {
    width: auto;
  }
}

section {
  display: flex;
  flex-direction: column;
}

form mat-form-field, button, a[mat-raised-button] {
  width: 100%;
}

h2, h3 {
  text-align: center;
}

.triangle {
  width: 100%;
  height: 100px;
  background-color: #673ab7;

  /* The points are: centered top, left bottom, right bottom */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.explanation-area {
  padding: 20px;
  background-color: #673ab7;
}

.explanation-area h2, h3, p {
  color: #fafafa;
  text-align: center;
}

.explanation-area h3 {
  font-weight: bold;
}

.explanation-card-container-horizontal {
  display: flex;
  flex-direction: row;
}

.explanation-card-container-vertical {
  display: flex;
  flex-direction: column;
}


.explanation-card-horizontal {
  padding: 10px;
  flex-direction: column;
  width: 33%;
  text-align: center
}

.explanation-card-vertical {
  padding: 10px;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
