.align-baseline {
  display: flex;
  align-items: baseline
}

.search-field {
  width: 75%;
}

.zip-code-div {
  width: 25%;
  text-align: right;
}

.zip-code-field {
  width: 40px;
  color: #673ab7;
  line-height: 1;
}

.shop {
  display: flex;
}

.meta {
  width: 60%;
  display: flex;
}

.shop-logo-container, .shop-text {
  flex-shrink: 0;
}

.shop-logo-container {
  width: 100px;
  height: 100px;
}

.shop-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 24px - 100px - 24px - 1px - 24px - 24px);
  /*
  24px padding left of img
  100px img
  24px right of img
  1px divider
  24px left of text
  24px right of text
  */
}

.shop-title {
  font-size: 18px;
}

.shop-text > div {
  width: 100%;
  word-break: break-word;
}

.shop-contact-types {
  width: 40%;
  display: flex;
  align-items: center;
}

/* styles for small devices */
@media screen and (max-width: 719px) {
  .align-baseline {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }

  .zip-code-div {
    width: 100%;
    text-align: center;
    order: 1;
  }

  .search-field {
    width: 100%;
    order: 2;
  }

  .shop {
    display: block;
  }

  .meta, .shop-contact-types {
    width: 100%;
  }

  .shop-logo-container {
    width: 60px;
    height: 60px;
  }

  .shop-text {
    max-width: calc(100% - 60px - 16px);
    /*
    60px img width
    16px padding between img and text
    */
  }
}
