tr:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-column-supportedContactTypes {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-header-cell {
  background: rgba(141, 141, 141, 0.6);
}
