tr:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-column-supportedContactTypes {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.contact-types {
  margin: .5em 0;
  display: flex;
  flex-wrap: wrap;
}

.contact-type {
  opacity: .15;
  margin: 5px 15px 5px 0;
  display: flex;
  align-items: center;
}

.contact-type.available {
  opacity: 1;
  color: #673ab7;
}
