<div class="align-baseline">
  <mat-form-field class="margin-right" class="search-field">
    <mat-label>Wonach suchen Sie heute?</mat-label>
    <input
      matInput
      placeholder="Suchen Sie nach Ihrem Lieblingsgeschäft oder nach Begriffen wie Kaffee, Optiker, ..."
      [(ngModel)]="searchBusiness"
      (keyup.enter)="performSearch()"/>
    <a (click)="performSearch()" matSuffix>
      <mat-icon>search</mat-icon>
    </a>
  </mat-form-field>
  <div class="zip-code-div">
    Läden in der Nähe von
    <mat-form-field class="zip-code-field">
      <input matInput type="text"
             (keyup)="checkZipCodeInput($event)" maxlength="5" minlength="5"
             [(ngModel)]="newLocation"
             (click)="selectAll($event)"
             (keyup.enter)="performSearch()"/></mat-form-field>
  </div>
</div>


<div>

  <mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="mat-elevation-z1 only-large">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <!-- Distance Column -->
    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Distanz
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.distance.toFixed(0)}} km
      </mat-cell>
    </ng-container>

    <!-- Supported Contact Types Column -->
    <ng-container matColumnDef="supportedContactTypes">
      <mat-header-cell *matHeaderCellDef>
        Kontaktmöglichkeiten
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <contact-types [availableContactTypes]="element.supportedContactTypes"></contact-types>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row
      id="business-row"
      *matRowDef="let row; columns: displayedColumns;"
      class="clickable highlightable"
      (click)="showDetailPage(row)"
    ></mat-row>
  </mat-table>

  <div class="only-small"
       [ngClass]="{'margin-big-bottom' : !last}"
       *ngFor="let shop of shops; last as last"
       (click)="showDetailPage({id: shop.id})"
  >
    <mat-divider></mat-divider>
    <div class="padding-vertical">
      <h3>{{ shop.name }}</h3>
      <p>Distanz: {{shop.distance.toFixed(0)}} km</p>
      <p>Kontaktmöglichkeiten:</p>
      <contact-types [availableContactTypes]="shop.supportedContactTypes"></contact-types>
    </div>
  </div>

</div>

