<h1 mat-dialog-title>Buchen</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <form [formGroup]="formControl" (ngSubmit)="onSubmit()">
    <mat-form-field class="booking-popup-form-label">
      <mat-label>Wie können wir dich kontaktieren?</mat-label>
      <mat-select formControlName="option">
        <mat-option *ngFor="let option of data.supportedContactTypes" [value]="option">
          <mat-icon svgIcon="{{option}}"></mat-icon>{{contactTypes.getDisplayName(option)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <mat-form-field class="booking-popup-form-label">
        <mat-label>Deine Telefonnummer</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="booking-popup-form-label">
        <mat-label>Dein Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="booking-popup-form-label">
        <mat-label>Deine E-Mail Adresse</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formControl.hasError('email') && !formControl.hasError('required')">
          Bitte gib eine valide E-Mail Adresse ein!
        </mat-error>
      </mat-form-field>
    </p>

    <div mat-dialog-actions>
      <button mat-button
              (click)="onNoClick()">Abbrechen
      </button>

      <button mat-button
              disabled="{{!formControl.valid}}"
              type="submit"
              color="primary">Buchen!
      </button>
    </div>

  </form>
</div>

