<p>Hallo und herzlich willkommen! Toll, dass Sie einen Laden auf lokaler.kaufen anlegen wollen! Dafür brauchen wir noch
  ein paar Informationen von Ihnen. </p>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Starten wir ganz einfach</ng-template>
      <mat-form-field>
        <mat-label>Wie ist Ihr Name?</mat-label>
        <input matInput placeholder="Max Mustermann" formControlName="nameCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Und wie heißt Ihr Laden?</mat-label>
        <input matInput placeholder="Maxis Modeladen" formControlName="businessNameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup">
    <form [formGroup]="addressFormGroup">
      <ng-template matStepLabel>Wo befindet sich Ihr Laden?</ng-template>
      <mat-form-field>
        <mat-label>Straße</mat-label>
        <input matInput formControlName="streetCtrl" placeholder="Hauptstr. 11"
               required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>PLZ</mat-label>
        <input matInput formControlName="zipCtrl" placeholder="12345" type="text"
               oninput="javascript: this.value=this.value.replace(new RegExp(/[^\d]/g), ''); if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               maxlength="5" minlength="5"
               required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Stadt</mat-label>
        <input matInput formControlName="cityCtrl" placeholder="Maulwurfshausen"
               required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adresszusatz</mat-label>
        <input matInput formControlName="suffixCtrl" placeholder="Hinterhof">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Beschreibe Sie ihren Laden.</ng-template>
      <div style="width: 100%">
        <p>Was verkaufen Sie, was zeichnet Ihren Laden aus und wobei können Sie Ihre Kunden am besten beraten?</p>
        <mat-form-field style="width: 100%">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput formControlName="descriptionCtrl"
                    placeholder="Hier gibt es vegane Kleidung und Schuhe. "
                    required></textarea>
        </mat-form-field>
      </div>
      <div>
        <p>Falls Sie eine Webseite haben, können Sie diese anzeigen lassen und Ihren Kunden dort weitere Details zu
          Ihrem Laden zur Verfügung stellen.</p>
        <mat-form-field>
          <mat-label>Website Link</mat-label>
          <input matInput formControlName="urlCtrl" placeholder="https://mywebsite.de">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contactFormGroup">
    <form [formGroup]="contactFormGroup">
      <ng-template matStepLabel>Welche Kontaktmöglichkeiten möchten Sie anbieten?</ng-template>
      <p>Füllen Sie einfach alle Möglichkeiten aus, die Sie bedienen wollen. </p>
      <small *ngIf="contactFormGroup.hasError('atLeastOneRequired')" style="color: red">{{contactFormGroup.getError('atLeastOneRequired').text}}
      </small>
      <div *ngFor="let contactType of contactTypes.availableContactTypes">
        <p>
          <mat-icon svgIcon="{{contactType}}"
                    style="margin-right: 5px; vertical-align: bottom"></mat-icon>
          {{contactTypes.getDisplayName(contactType)}}
        </p>
        <mat-form-field>
          <mat-label>Ihr Kontakt</mat-label>
          <input matInput formControlName="{{contactType.toLowerCase()}}Ctrl" placeholder="Ihre Kontaktmöglichkeit">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="openingFormGroup">
    <form [formGroup]="openingFormGroup">
      <ng-template matStepLabel>Was sind Ihre Öffnungszeiten?</ng-template>
      <div style="margin-top: 15px; margin-bottom: 30px; float:left;"
           *ngFor="let day of days">
        <button mat-mini-fab color="primary"
                [ngClass]="{'disabled' : !this.businessHours.POSSIBLE_BUSINESS_HOURS.get(day).enabled}"
                (click)="toggleAvailability(day)">{{day.substring(0, 2)}}
        </button>
      </div>
      <div *ngFor="let day of days" style="clear: both;">
        <h2 [ngClass]="{'disabled-font' : !this.businessHours.POSSIBLE_BUSINESS_HOURS.get(day).enabled}"
            style="float:left; margin-right: 50px; vertical-align: bottom; width: 15%;">{{day}}</h2>
        <mat-form-field>
          <mat-label>Von</mat-label>
          <input formControlName="{{day}}FromCtrl" matInput type="time"
                 value="{{this.businessHours.POSSIBLE_BUSINESS_HOURS.get(day).from}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bis</mat-label>
          <input formControlName="{{day}}ToCtrl" matInput type="time"
                 value="{{this.businessHours.POSSIBLE_BUSINESS_HOURS.get(day).to}}">
        </mat-form-field>
      </div>
      <div>
        Wie lange beraten Sie Ihre Kunden im Schnitt?
        <mat-form-field style="width: 30px; padding-left: 8px;">
          <input formControlName="defaultCtrl" matInput type="number">
        </mat-form-field>
        Minuten
      </div>
      <div>
        Wie viel Pause brauchen Sie dazwischen?
        <mat-form-field style="width: 30px; padding-left: 8px;">
          <input formControlName="pauseCtrl" matInput type="number">
        </mat-form-field>
        Minuten
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel>Fast fertig!</ng-template>
      <p>Wählen Sie noch ein Passwort. Damit können Sie Ihre Angaben später ändern. Wählen Sie ein sicheres Passwort, das
        mindestens 14 Zeichen hat. Ein gutes Beispiel ist ein Satz, den Sie sich gut merken können.</p>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
          <input matInput #passwordWithValidation
                 [type]="toggleVisbility.type"
                 required
                 formControlName="passwordCtrl"
                 placeholder="Password"
                 tabindex="1">
          <mat-hint align="end" aria-live="polite">
            {{passwordWithValidation.value.length}} / 25
          </mat-hint>
          <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password wiederholen</mat-label>
          <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
          <input matInput #passwordConfirm
                 [type]="toggleVisbility.type"
                 required
                 formControlName="confirmPasswordCtrl"
                 placeholder="Password wiederholen"
                 tabindex="2">
          <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div style="width: 50%">
        <mat-password-strength #passwordComponentWithValidation
                               [password]="passwordWithValidation.value"
                               [enableSpecialCharRule]=false
                               [enableDigitRule]=false
                               [min]=14>
        </mat-password-strength>
        <!--Password's strength info-->
        <mat-password-strength-info
          [passwordComponent]="passwordComponentWithValidation"
          minCharsCriteriaMsg="Minimum 14 Zeichen"
          lowerCaseCriteriaMsg="Mindestens ein Kleinbuchstabe"
          upperCaseCriteriaMsg="Mindestens ein Großbuchstabe"
        >
        </mat-password-strength-info>
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Geschafft!</ng-template>
    <p>Wir können Ihren Laden jetzt anlegen. </p>
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button (click)="createShop()">Speichern</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
