.mercury-root {
  padding: 3em;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  width: 100%;
  max-width: 960px;
  height: 100%;
}
