.mercury-root {
  padding: 0 3em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-content {
  width: 100%;
  max-width: 960px;
  height: 100%;
}
