.mercury-root {
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.app-content {
  width: 100%;
  height: 100%;
  max-width: 960px;
}

.main-content-card {
  padding: 3em 2em 5em;
}
