<div>
  <h1 translate>password.reset.popup.heading</h1>
  <div mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label translate>password.reset.popup.email</mat-label>
        <input matInput required formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <mat-error *ngIf="formGroup.hasError('email') && !formGroup.hasError('required')">
          password.reset.popup.email.description
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">
      <span translate>password.reset.popup.cancel</span>
    </button>
    <button mat-button
            disabled="{{!formGroup.valid}}"
            (click)="onSubmit()"
            type="submit"
            color="primary">
      <span translate>password.reset.popup.submit</span>
    </button>
  </div>
</div>
