<div>
  <h1>Passwort vergessen</h1>
  <div mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Ihre Email-Adresse</mat-label>
        <input matInput required formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <mat-error *ngIf="formGroup.hasError('email') && !formGroup.hasError('required')">
          Bitte geben Sie eine valide Email-Adresse ein!
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen
    </button>
    <button mat-button
            disabled="{{!formGroup.valid}}"
            (click)="onSubmit()"
            type="submit"
            color="primary">Senden
    </button>
  </div>
</div>
