.back-button {
  font-size: 12px;
}

.book-button {
  width: 100%;
}

.small-booking-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-booking-row > div {
  width: 50%;
}

.shop-details {
  display: flex;
  justify-content: center;
}

.shop-details > div {
  box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  .shop-details {
    flex-direction: column;
  }

  .shop-details > div {
    padding: 12px 0;
  }
}


@media screen and (min-width: 720px) {
  .shop-details > div {
    width: 50%;
    padding: 0 12px;
  }
}
