<div *ngIf="shop">

  <div class="margin-bottom">
    <button class="back-button"
            mat-button
            color="primary" (click)="back()">
      <span translate>shop.details.back</span>
    </button>
  </div>

  <!-- region ONLY LARGE LAYOUT -->
  <div class="only-large">
    <mat-card class="mat-elevation-z3">
      <div *ngIf="shop.imageUrl"
           class="shop-logo-bubble mat-elevation-z3"
           [ngStyle]="{ 'background-color':  logoBackgroundColor }">
        <!-- mat-card adds "position: relative" so we can use it to "position: absolute" our floaty image -->
        <div class="shop-logo-bubble-image">
          <shop-logo [imageUrl]="shop.imageUrl"></shop-logo>
        </div>
      </div>

      <mat-card-header>
        <div class="shop-header">
          <div class="shop-details-header">
            <mat-card-title class="margin-vertical shop-title" id="title">{{ shop.name }}</mat-card-title>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!hasDescription" translate>shop.details.description.empty</div>
        <div *ngIf="hasDescription" style="padding-top: 15px">{{ shop.details }}</div>
        <div class="social-links-block">
          <div *ngIf="shop.website" class="social-links">
            <a href="{{returnValidLink(shop.website)}}" target="_blank" class="social-links"
               style="padding-left: 5px;">
              <img src="../assets/web.png" class="social-links-logo">
              Website</a>
          </div>
          <div *ngIf="shop.socialLinks.facebook" class="social-links">
            <a href="{{returnValidFacebookLink(shop.socialLinks.facebook)}}" target="_blank" class="social-links"
               style="padding-left: 5px;">
              <img src="../assets/facebook.png" class="social-links-logo">
              Facebook</a>
          </div>
          <div *ngIf="shop.socialLinks.instagram" class="social-links">
            <a href="{{returnValidInstagramLink(shop.socialLinks.instagram)}}" target="_blank" class="social-links"
               style="padding-left: 5px;">
              <img src="../assets/instagram.png" class="social-links-logo">
              Instagram</a>
          </div>
          <div *ngIf="shop.socialLinks.twitter" class="social-links">
            <a href="{{returnValidTwitterLink(shop.socialLinks.twitter)}}" target="_blank" class="social-links"
               style="padding-left: 5px;">
              <img src="../assets/twitter.png" class="social-links-logo">
              Twitter</a>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="booking-title">
          <h3 translate>shop.details.booking.heading</h3>
          <p>
            <span translate [translateParams]="shop">shop.details.booking.description.1</span>
            <span *ngIf="!hasOnlyPhone" translate>shop.details.booking.description.2</span>.
            <span *ngIf="hasOnlyPhone" translate [translateParams]="shop">shop.details.booking.description.3</span>
          </p>
        </div>
        <slots (selectedSlot)="showBookingPopup($event)" [data]="slotsData"></slots>
        <div class="shop-details margin-big-vertical">
          <div>
            <div class="address-title" translate>shop.details.address</div>
            <div>{{shop.name}}</div>
            <div>{{shop.street}} {{shop.addressSupplement}}</div>
            <div>{{shop.zipCode}} {{shop.city}}</div>
            <div><a href="mailto:{{shop.email}}">{{shop.email}}</a></div>
          </div>

          <div>
            <contact-types [availableContactTypes]="shop.contactTypes"></contact-types>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <page-footer></page-footer>
  </div>
  <!-- endregion -->

  <!-- region ONLY SMALL LAYOUT -->
  <div class="only-small">
    <div *ngIf="shop.imageUrl" class="shop-logo margin-bottom">
      <shop-logo [imageUrl]="shop.imageUrl"></shop-logo>
    </div>
    <div class="shop-header">
      <div class="shop-details-header">
        <mat-card-title class="margin-vertical shop-title" id="title-small">{{ shop.name }}</mat-card-title>
      </div>
    </div>
    <mat-card-content>
      <div *ngIf="!hasDescription" translate>shop.details.description.empty</div>
      <div *ngIf="hasDescription" style="padding-top: 25px">{{ shop.details }}</div>
      <div class="social-links-block-small">
        <div *ngIf="shop.website" class="social-links">
          <a href="{{returnValidLink(shop.website)}}" target="_blank" class="social-links"
             style="padding-left: 5px;">
            <img src="../assets/web.png" class="social-links-logo">
            Website</a>
        </div>
        <div *ngIf="shop.socialLinks.facebook" class="social-links">
          <a href="{{returnValidFacebookLink(shop.socialLinks.facebook)}}" target="_blank" class="social-links"
             style="padding-left: 5px;">
            <img src="../assets/facebook.png" class="social-links-logo">
            Facebook</a>
        </div>
        <div *ngIf="shop.socialLinks.instagram" class="social-links">
          <a href="{{returnValidInstagramLink(shop.socialLinks.instagram)}}" target="_blank" class="social-links"
             style="padding-left: 5px;">
            <img src="../assets/instagram.png" class="social-links-logo">
            Instagram</a>
        </div>
        <div *ngIf="shop.socialLinks.twitter" class="social-links">
          <a href="{{returnValidTwitterLink(shop.socialLinks.twitter)}}" target="_blank" class="social-links"
             style="padding-left: 5px;">
            <img src="../assets/twitter.png" class="social-links-logo">
            Twitter</a>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="booking-title">
        <h3 translate>shop.details.booking.heading</h3>
        <p>
          <span translate [translateParams]="shop">shop.details.booking.description.1</span>
          <span *ngIf="!hasOnlyPhone" translate>shop.details.booking.description.2</span>.
          <span *ngIf="hasOnlyPhone" translate [translateParams]="shop">shop.details.booking.description.3</span>
        </p>
      </div>
      <slots (selectedSlot)="showBookingPopup($event)" [data]="slotsData"></slots>
      <div class="shop-details margin-big-vertical">
        <div>
          <contact-types [availableContactTypes]="shop.contactTypes"></contact-types>
        </div>
      </div>
      <div>
        <div class="address-title" translate>shop.details.address</div>
        <div>{{shop.name}}</div>
        <div>{{shop.street}} {{shop.addressSupplement}}</div>
        <div>{{shop.zipCode}} {{shop.city}}</div>
        <div><a href="mailto:{{shop.email}}">{{shop.email}}</a></div>
      </div>
    </mat-card-content>
    <page-footer></page-footer>
  </div>
  <!-- endregion END SMALL LAYOUT-->
</div>
