#calendar {
  display: grid;
}

.back-button {
  font-size: 12px;
}

.book-button {
  width: 100%;
}

.description-text {
  margin-left: 1%;
}

.contact-types {
  flex: 0 0 50%;
  width: 50%;
}

.shop-details {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  align-items: flex-start;
}
