.back-button {
  font-size: 12px;
}

.social-links a {
  color: #512DA8;
  text-decoration: none;
}

.address-title {
  font-weight: bold;
}

.booking-title {
  padding-top: 25px;
}

.social-links {
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
}

.social-links-logo {
  padding-right: 10px;
  height: 25px;
  width: 25px;
  /* set png color */
  filter: invert(20%) sepia(34%) saturate(4623%) hue-rotate(246deg) brightness(90%) contrast(99%);
}

.social-links-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 25px;
}

.social-links-block-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.shop-logo-bubble {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  right: 80px;
  background-color: white;
}

.shop-logo-bubble-image {
  /*
  diameter = 160px
  => radius = 80px
  => inner square side length: (2 * sqrt( radius^2 / 2) ) = 112px (rounded down to the next even int)
  => offset (top and left) of square relative to top-left of circle: (diameter - square length) / 2 = 24px
   */
  width: 112px;
  height: 112px;
  position: absolute;
  top: 24px;
  left: 24px;
}

.shop-details-card-image-container {
  width: 160px;
  height: 160px;
  transform: translate(-20%, 50%);
  position: absolute;
  left: 80%;
  margin-top: -160px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  z-index: 2;
}

.shop-details-card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-details {
  display: flex;
  justify-content: center;
}

.shop-header {
  display: inline;
  width: 100%;
}

.shop-details > div {
  box-sizing: border-box;
}

.shop-details-header {
  float: left;
  line-height: 160%;
  width: calc(100% - 140px);
}

.shop-title {
  font-size: 20px;
}

.shop-logo {
  height: 180px;
}

::ng-deep.mat-tab-labels {
  justify-content: space-between;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 115px !important;
}

.not-open {
  color: lightgray;
}


@media screen and (max-width: 719px) {
  .shop-details {
    flex-direction: column;
  }

  .shop-title {
    font-size: 20px;
  }

  .shop-details > div {
    padding: 12px 0;
  }

  .text-no-values {
    font-size: small;
  }

  .shop-details-header {
    width: 100%;
  }
}


@media screen and (min-width: 720px) {
  .shop-details > div {
    width: 50%;
    padding: 0 12px;
  }

}


