<div class="app-content">

  <h1 id="title" class="mat-title">{{details.name}}</h1>

  <div id="description" class="mat-card" style="margin-bottom: 20px;">
    <p class="mat-card-content">{{details.details}}</p>
  </div>

  <h3 *ngIf="slots.length == 0">Dieser Laden bietet heute leider keine Termine an. </h3>
  <div *ngIf="slots.length > 0" class="mat-card">
    <mat-table [dataSource]="slots" class="mat-table" id="calendar">
      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef> Start</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.start}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef> Ende</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.end}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef> Verfügbar</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="book-button"
                  mat-raised-button
                  *ngIf="element.available"
                  (click)="showBookingPopup(element.id)"
                  color="primary">
            Jetzt buchen
          </button>

          <button class="book-button" mat-stroked-button *ngIf="!element.available" disabled>
            Belegt
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['from', 'to', 'available']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['from', 'to', 'available']"></mat-row>
    </mat-table>
  </div>

  <p class="mat-divider"></p>

  <div id="contact" class="mat-small mat-card">
    <div>{{details.name}}</div>
    <div>{{details.street}}</div>
    <div>{{details.zipCode}}</div>
    <div>{{details.city}}</div>
    <div><a href="{{details.website}}">{{details.website}}</a></div>
    <div><a href="mailto:{{details.email}}">{{details.email}}</a></div>
  </div>
</div>
