<div *ngIf="shopDetails">
  <shop-details *ngIf="shopOwnerDetails" (updateShopEvent)="updateShop($event)"
                [detailsObservable]="shopOwnerDetails"></shop-details>
  <div><h3>E-Mail: {{shopDetails.email}}</h3></div>
  <button style="width: 25%; margin-right: 10px;" mat-raised-button color="primary"
          (click)="changeShopApproval()">
    <div *ngIf="shopDetails.approved">Shop bestätigen</div>
    <div *ngIf="!shopDetails.approved">Bestätigung zurückziehen</div>
  </button>
  <button style="width: 25%" mat-raised-button color="primary"
          (click)="deleteShop()">Löschen
  </button>
</div>
