<div>
  <shop-details (updateShopEvent)="updateShop($event)"
                [detailsObservable]="shopOwnerDetails"></shop-details>
  <div><h2>E-Mail: {{shopDetails.email}}</h2></div>
  <button style="width: 25%; margin-right: 10px;" mat-raised-button color="primary"
          (click)="changeShopEnable()">
    <div *ngIf="shopDetails.enabled">Deaktivieren</div>
    <div *ngIf="!shopDetails.enabled">Aktivieren</div>
  </button>
  <button style="width: 25%" mat-raised-button color="primary"
          (click)="deleteShop()">Löschen
  </button>
</div>
