<h1>Datenschutzerklärung</h1>
<p>Datenschutz ist uns wichtig. Unsere Datenschutzerklärung stammt deshalb nicht aus einem der zahllosen Generatoren
  im Internet, sondern beschreibt in klar verständlicher Sprache, welche Ihrer Daten wir zu welchem Zweck wie lange und
  wo speichern.
</p>
<h2>Wer wir sind</h2>
<p>Die immer aktuellen Informationen über uns und den inhaltlich Verantwortlichen finden Sie in unserem <a
  href="#/imprint">Impressum.</a></p>

<h2>Speicherung von Daten</h2>
<h3>Namen</h3>
<p>
  Wir speichern den Namen der <b>Kunden</b>, die einen Termin bei einem Laden buchen, damit wir
</p>
<ul>
  <li>diesen an den Händler für den gebuchten Termin senden können,</li>
  <li>die E-Mails an den Kunden personalisieren können (z.B. "Hallo Frank Schmidt," statt "Sehr geehrter Kunde"), um ein
    klares Informationsmerkmal zu haben, an wen die E-Mail geht (z.B. bei familie-schmidt@xxx.yy).
  </li>
</ul>
<p>
  Wir löschen den Namen spätestens 24h nach dem Ende des Termins.
</p>
<p>
  Wir speichern den Namen des <b>Händlers</b>, die einen Laden auf lokaler.kaufen registrieren, damit wir
</p>
<ul>
  <li>einen verantwortlichen Ansprechpartner für jeden auf lokaler.kaufen registrierten Laden nennen können,</li>
  <li>die E-Mails an den Händler personalisieren können (z.B. "Hallo Klaus Meier," statt "Sehr geehrter Kunde"), um ein
    klares Informationsmerkmal zu haben, an wen die E-Mail geht (z.B. bei info@firma-meier.yy).
</ul>
<p>
  Wird der Laden von der Plattform gelöscht, entfernen wir im gleichen Zug den Namen des Händlers.
</p>
<h3>E-Mail Adressen</h3>
<p>
  Wir speichern die E-Mail-Adresse der <b>Kunden</b>, die einen Termin bei einem Laden buchen, damit wir
</p>
<ul>
  <li>dem Kunden den gebuchten Termin bestätigen können und</li>
  <li>den Kunden informieren können, wenn der Laden den Termin absagt.</li>
</ul>
<p>
  Wir löschen diese E-Mail-Adressen spätestens 24h nach dem Ende des Termins.
</p>
<p>
  Wir speichern die E-Mail-Adresse der <b>Händler</b>, die einen Laden auf lokaler.kaufen registrieren, damit wir
</p>
<ul>
  <li>die Händler über gebuchte Termine informieren können,</li>
  <li>die Händler informieren können, wenn ein Kunde den Termin absagt,</li>
  <li>ein eindeutiges Identifikationsmerkmal für den Login zur Pflege der Laden-Informationen haben,</li>
  <li>den Händler das Zurücksetzen ihres Passworts ermöglichen können,</li>
  <li>die Händler über betriebsrelevante Themen informieren können (z.B. geplante Wartungsfenster, in denen
    lokaler.kaufen nicht verfügbar ist, geänderte Nutzungsbedingungen etc.).
  </li>
</ul>
<p>
  Wir benötigen die E-Mail-Adresse der Händler deshalb solange sie einen Laden auf lokaler.kaufen registriert
  haben.
  Wird der Laden von der Plattform gelöscht, entfernen wir im gleichen Zug die E-Mail-Adresse des Händlers.
</p>
<h3>Kontaktinformationen</h3>
<p>
  Wir speichern die Rückrufinformation (z.B. Telefonnummer, Skype Benutzername etc.), die der <b>Kunde</b> bei der
  Buchung
  eines Termins angibt, damit wir
</p>
<ul>
  <li>
    diese an den Händler für den Anruf zum angegebenen Zeitpunkt übermitteln können.
  </li>
</ul>
<p>
  Wir löschen diese Kontaktinformation spätestens 24h nach dem Ende des Termins.
</p>
<p>
  Wir speichern die Kontaktinformationen der <b>Händler</b> für alle von ihnen angegebenen Kontaktmöglichkeiten, damit
  wir
</p>
<ul>
  <li>nur valide Kontaktarten erfassen (Validierungsmerkmal)</li>
  <li>die einmal erfassten Daten bei der Veränderung des Ladenprofils vorausfüllen zu können (Komfort).</li>
</ul>
<p>
  Die eingegebenen Kontaktinformationen löschen wir, sobald der Händler sie selbst aus dem Ladenprofil entfernt oder
  spätestens, wenn der Laden gelöscht wird.
</p>
<h3>Postadressen</h3>
Wir speichern die Postadresse von Läden, die <b>Händler</b> auf lokaler.kaufen registrieren, damit wir
<ul>
  <li>Kunden die Läden in ihrer geographischen Nähe anzeigen können,</li>
  <li>die Adresse der Läden auf der Shop-Detail-Seite anzeigen können,</li>
  <li>eine Postadresse für jeden verantwortlichen Ansprechpartner auf lokaler.kaufen registrierten Laden nennen
    können.
  </li>
</ul>
<p>
  Wird der Laden von der Plattform gelöscht, entfernen wir im gleichen Zug die Postadresse des Händlers.
</p>
<h3>IP-Adresse</h3>
<p>
  Die IP-Adresse ist ein Identifikationsmerkmal von Netzwerkendpunkten, also z.B. Ihrem Internetanschluss. Mit Hilfe der
  IP-Adresse
  kann man einen Rechner oder Internetanschluss im Internet identifizieren. Eine solche Adresse kann sich in nicht
  definierten zeitlichen
  Abständen ändern, z.B. beim Trennen der Internetverbindung, sie kann aber auch über lange Zeit gleich bleiben.
</p>
<p>Wir speichern die IP-Adressen von allen <b>Aufrufern</b> der Domain lokaler.kaufen in einer Logdatei auf dem Server,
  damit
  wir</p>
<ul>
  <li>technische Angriffe auf lokaler.kaufen, bei denen durch das Absetzen sehr vieler Requests versucht wird den Dienst
    zu überlasten
    (Denial-of-Service-Attacke) besser abwehren zu können und dabei reguläre Requests durch echte Nutzer von den
    Requests der Angreifer zu unterscheiden zu können,
  </li>
</ul>
<p>
  Wir löschen die IP-Adressen spätestens nach 30 Tagen.
</p>

<h2>Ort der Speicherung</h2>
<p>Unsere Server betreiben wir als <i>virtuelle Maschine</i> in der Google Cloud. Die Datenschutzerklärung der Google
  Cloud finden Sie <a href="https://cloud.google.com/security/gdpr?hl=de" target="_blank">hier</a>.</p>
<h2>Weitergabe von Daten</h2>
<p>Wir verkaufen nie persönliche Daten oder nutzen Ihre diese zu einem anderen Zweck als den oben beschriebenen.
  Trotzdem ist es wie oben beschrieben in manchen zur Erfüllung unseres Angebots nötig, dass wir personenbezogene Daten
  an die weitere beteiligte Geschäftspartei (also Kunde oder Händler) weitergeben.</p>
<p>
  Im Rahmen der in der EU geltenden Datenschutzgesetze sind die Händler verpflichtet, diese Information zu löschen,
  sobald sie sie nicht mehr zur Erfüllung des Geschäfts zwischen Kunde und Händler benötigen, oder die explizite
  Einverständniserklärung zur Speicherung der Daten vom Kunden einzuholen.
</p>
<h2>Löschung meiner Daten</h2>
<p>
  Händler können das Löschen eines Ladens einfach formlos per E-Mail an support['at']lokaler.kaufen anfordern.
  Dazu ist es nötig, dass sie die E-Mail von der gleichen Adresse schicken, die sie zur Registrierung verwendet
  haben.
</p>
<p>
  Sollen andere Ihrer Daten aus unserer Plattform gelöscht werden, schreiben Sie uns bitte auch an
  support['at']lokaler.kaufen.
</p>
<h2>Weitere Informationen</h2>
<h3>Schutz von Daten</h3>
<p>
  Wir nutzen Verschlüsselung nach Industriestandard zum Versand von Daten (SSL für diese Website und TLS für die
  verschickten E-Mails). Wir schicken unsere E-Mails über einen Server in Deutschland (mailbox.org).
</p>

<h3>Umgang mit Sicherheitsvorfällen</h3>
<p>Sobald ein Sicherheitsvorfall bestätigt wurde, informieren wir alle betroffenen Parteien innerhalb von 24
  Stunden.</p>
