<div class="footer-area">
  <h2>{{messageOfTheDay}}</h2>
  <div class="footer-content">
    <div class="footer-section"><h3>Sozial</h3>
      <p><a href="https://www.facebook.com/lokalerkaufen/" target="_blank">Facebook</a></p>
      <p><a href="https://www.instagram.com/lokaler.kaufen/" target="_blank">Instagram</a></p>
      <p><a href="https://twitter.com/lokalerkaufen" target="_blank">Twitter</a></p>
    </div>
    <mat-divider [vertical]="true" class="footer-divider"></mat-divider>
    <div class="footer-section"><h3>Informativ</h3>
      <p><a href="https://info.lokaler.kaufen/" target="_blank">Über uns</a></p>
      <p><a routerLink="/imprint">Impressum</a></p>
      <p><a routerLink="/privacy">Datenschutz</a></p>
    </div>
    <mat-divider [vertical]="true" class="footer-divider"></mat-divider>
    <div class="footer-section"><h3>Technisch</h3>
      <p><a href="https://info.lokaler.kaufen/welcome" target="blank">Dokumentation</a></p>
      <p><a href="https://info.lokaler.kaufen/support" target="_blank">Support</a></p>
      <p><a href="https://github.com/lokaler-kaufen/" target="_blank">GitHub</a></p>
    </div>
  </div>
</div>
