.book-button {
  width: 100%;
}

.not-open {
  color: lightgray;
}

.small-booking-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-booking-row > div {
  width: 50%;
}

.holiday-warning-box {
  background-color: #ffc107;
  text-align: center;
  padding: 10px 7px;
}

.holiday-warning-box p {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

.holiday-warning-box-header {
  font-weight: bold;
}

::ng-deep.mat-tab-labels {
  justify-content: space-between;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 115px !important;
}

@media screen and (min-width: 940px) {

  ::ng-deep .mat-tab-header-pagination {
    display: none !important;
  }

}
