<div>
  <h1 mat-dialog-title translate>shop.creation.success.heading</h1>
  <div mat-dialog-content>
    <p>Vielen Dank! Unser Administratoren-Team überprüft nun Ihre Angaben und schaltet Ihren Laden dann auf
      lokaler.kaufen frei! Sie erhalten eine E-Mail, sobald "{{ data }}" auf lokaler.kaufen gelistet ist! </p>
    <p>Bitte lesen Sie inzwischen unseren kurzen <a href="https://info.lokaler.kaufen/welcome" target="_blank">Welcome-Guide.</a></p>
    <p>Schön, dass Sie dabei sind.</p>
  </div>
  <div mat-dialog-actions style="alignment: center">
    <button mat-raised-button [mat-dialog-close]="" cdkFocusInitial routerLink="login" translate>shop.creation.success.login</button>
  </div>
</div>
