/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-header-cell {
  background: rgba(141, 141, 141, 0.4);
}

a,
a:link,
a:visited {
  text-decoration: underline;
  color: #673ab7;
  cursor: pointer;
}

a:hover,
a:active {
  color: #ffc107;
}

.text-no-values {
  color: darkgray;
}
