/* You can add global styles to this file, and also import other style files */

@import 'responsive.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-header-cell {
  background: rgba(141, 141, 141, 0.4);
}

.mat-cell {
  padding: 2px;
}

a,
a:link,
a:visited {
  text-decoration: underline;
  color: #673ab7;
  cursor: pointer;
}

a:hover,
a:active {
  color: #ffc107;
}

a:active, a:focus, a:visited {
  outline: none;
}

.text-no-values {
  color: darkgray;
}

.clickable {
  cursor: pointer;
}

.highlightable:hover {
  background: rgba(209, 196, 233, 1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
