<div class="app-footer margin-big-vertical margin-horizontal">
  <a class="margin-horizontal margin-bottom" routerLink="login"
     *ngIf="!userContextService.isLoggedInStoreOwner">Login für Ladenbesitzer</a>
  <a class="margin-horizontal margin-bottom link" (click)="openRegisterBusinessPopup()"
     *ngIf="!userContextService.isLoggedInStoreOwner">Als Ladenbesitzer registrieren</a>
  <a class="margin-horizontal margin-bottom link" routerLink="manage-shop"
     *ngIf="userContextService.isLoggedInStoreOwner">Laden bearbeiten</a>
  <a class="margin-horizontal margin-bottom" routerLink="imprint">Impressum</a>
  <a class="margin-horizontal margin-bottom" routerLink="privacy">Datenschutz</a>
</div>
