.app-footer {
  font-size: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.version-info {
  text-align: center;
  color: #aaaaaa;
}
/* switch footer links to column mode on small devices */
@media screen and (max-width: 719px) {
  .app-footer {
    flex-direction: column;
    align-items: center;
  }
}
