<div class="app-footer margin-big-vertical margin-horizontal">
  <a class="margin-horizontal margin-bottom" routerLink="imprint">Impressum</a>
  <a class="margin-horizontal margin-bottom" routerLink="privacy">Datenschutz</a>
  <a class="margin-horizontal margin-bottom" target="_blank" href="https://lokaler.kaufen/support"
     rel="noopener noreferrer">Support</a>
</div>
<div class="app-footer margin-vertical margin-horizontal" *ngIf="versionInfo">
  <span class="version-info">{{versionInfo.version}} #{{versionInfo.commitHash}} - {{versionInfo.commitTime}}</span>
</div>
