<div class="reset-page">
  <h3 translate>password.reset.page.description</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="width: 100%">
      <mat-form-field appearance="outline" class="password-input-field">
        <mat-label translate>password.reset.page.password</mat-label>
        <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        <input matInput #passwordWithValidation
               [type]="toggleVisbility.type"
               required
               formControlName="passwordCtrl"
               placeholder="{{ 'password.reset.page.password' | translate }}">
        <mat-hint align="end" aria-live="polite">
          {{passwordWithValidation.value.length}} / 25
        </mat-hint>
        <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')" translate>
          password.reset.page.error
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="password-input-field">
        <mat-label translate>password.reset.page.repeat</mat-label>
        <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        <input matInput #passwordConfirm
               [type]="toggleVisbility.type"
               required
               formControlName="confirmPasswordCtrl"
               placeholder="{{ 'password.reset.page.repeat' | translate }}">
        <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')" translate>
          password.reset.page.error
        </mat-error>
      </mat-form-field>
    </div>
    <div class="password-strength">
      <mat-password-strength #passwordComponentWithValidation
                             [password]="passwordWithValidation.value"
                             [enableSpecialCharRule]=false
                             [enableDigitRule]=false
                             [min]=12>
      </mat-password-strength>
      <!--Password's strength info-->
      <mat-password-strength-info
        [passwordComponent]="passwordComponentWithValidation"
        minCharsCriteriaMsg="{{ 'password.reset.page.validation.count' | translate }}"
        lowerCaseCriteriaMsg="{{ 'password.reset.page.validation.lowercase' | translate }}"
        upperCaseCriteriaMsg="{{ 'password.reset.page.validation.lowercase' | translate }}">
      </mat-password-strength-info>
    </div>

    <button class="form-item" type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
            mat-raised-button
            color="primary" translate>
      password.reset.page.submit
    </button>
  </form>
</div>
