<div class="reset-page">
  <h3>Bitte gib dein neues Passwort ein. </h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="width: 100%">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        <input matInput #passwordWithValidation
               [type]="toggleVisbility.type"
               required
               formControlName="passwordCtrl"
               placeholder="Password">
        <mat-hint align="end" aria-live="polite">
          {{passwordWithValidation.value.length}} / 25
        </mat-hint>
        <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left: 5px">
        <mat-label>Password wiederholen</mat-label>
        <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
        <input matInput #passwordConfirm
               [type]="toggleVisbility.type"
               required
               formControlName="confirmPasswordCtrl"
               placeholder="Password wiederholen">
        <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>
    <div style="width: 50%; margin-bottom: 20px;">
      <mat-password-strength #passwordComponentWithValidation
                             [password]="passwordWithValidation.value"
                             [enableSpecialCharRule]=false
                             [enableDigitRule]=false
                             [min]=14>
      </mat-password-strength>
      <!--Password's strength info-->
      <mat-password-strength-info
        [passwordComponent]="passwordComponentWithValidation"
        minCharsCriteriaMsg="Minimum 14 Zeichen"
        lowerCaseCriteriaMsg="Mindestens ein Kleinbuchstabe"
        upperCaseCriteriaMsg="Mindestens ein Großbuchstabe">
      </mat-password-strength-info>
    </div>

    <button class="form-item" type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
            mat-raised-button
            color="primary">
      Passwort setzen
    </button>
  </form>
</div>
