<form [formGroup]="formController" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-item">
    <mat-label>Email</mat-label>
    <input
      type="text"
      formControlName="email"
      placeholder="Email"
      required
      matInput
    />
  </mat-form-field>

  <mat-form-field class="form-item">
    <mat-label>Passwort</mat-label>
    <input
      type="password"
      formControlName="password"
      placeholder="Passwort"
      required
      matInput
    />
  </mat-form-field>

  <button mat-raised-button
          [disabled]="!formController.valid"
          type="submit"
          class="form-item"
          color="primary">
    Login
  </button>

  <p class="error" *ngIf="isFailed()">
    Tut uns leid, der Login ist fehlgeschlagen. Entweder haben Sie sich bei Ihrer Email-Adresse und/oder beim Passwort
    vertippt oder das System hat gerade ein paar Problemchen.
  </p>
</form>
