<div class="login-page">

  <section class="padding-vertical"
           [ngClass]="{'margin-horizontal': !isSmallScreen, 'margin-big-bottom': isSmallScreen}">

    <header>
      <h2>Login für Ladenbesitzer</h2>
    </header>

    <login-form
      class="login-form"
      [apiPath]="'/api/shop/login'"
      [redirectPath]="'manage-shop'"
      (loginSuccessful)="onLoginSuccess()"
    ></login-form>

    <div class="buttons margin-big-top">
      <a mat-button color="primary" (click)="signup()">Jetzt registrieren</a>
      <a mat-button color="primary" (click)="passwordReset()">Passwort vergessen?</a>
    </div>

  </section>

</div>
