.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 75%;
  max-width: 480px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-item {
  width: 100%;
}

.error {
  margin-top: 2em;
  color: red;
}
