<div class="login-page">

  <header>
    <h2>Login für Ladenbesitzer</h2>
  </header>

  <form [formGroup]="formController" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-item">
      <mat-label>E-Mail</mat-label>
      <input
        type="text"
        formControlName="email"
        placeholder="E-Mail"
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field class="form-item">
      <mat-label>Passwort</mat-label>
      <input
        type="password"
        formControlName="password"
        placeholder="Passwort"
        required
        matInput
      />
    </mat-form-field>

    <button mat-raised-button class="form-item" type="submit" color="primary">Login</button>
  </form>

</div>
